<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
     <!-- Set MongoDB driver logging to ERROR only -->
     <!-- https://www.mongodb.com/community/forums/t/logs-are-being-spammed-to-console-how-can-i-disable/285433 -->
    <logger name="org.mongodb.driver" level="ERROR"/>
</configuration>